  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
      <div class="container">
        <a class="navbar-brand" routerLink="/"><img class="logo" src="assets/images/logo2.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light text-uppercase mr-4" href="#!">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-uppercase mr-4" href="#!">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-uppercase mr-4" href="#!">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-uppercase mr-4" href="#!">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-uppercase mr-4" routerLink="/transaction" href="#!">Transaction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light text-uppercase mr-4" routerLink="/login">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light text-uppercase" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin Panel
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                 <li><a class="dropdown-item" routerLink="/cars/getcardetails">Cars</a></li>
                  <li><a class="dropdown-item" routerLink="/brands/getall">Brands</a></li>
                  <li><a class="dropdown-item" routerLink="/colors/getall">Colors</a></li>
                  <li><a class="dropdown-item" routerLink="/customers/getall">Customers</a></li>
                  <li><a class="dropdown-item" routerLink="/rentals/getrentaldetails">Rentals</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>