<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Project Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tools
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/cars/getcardetails">Cars</a></li>
              <li><a class="dropdown-item" routerLink="/brands/getall">Brands</a></li>
              <li><a class="dropdown-item" routerLink="/colors/getall">Colors</a></li>
              <li><a class="dropdown-item" routerLink="/customers/getall">Customers</a></li>
              <li><a class="dropdown-item" routerLink="/rentals/getrentaldetails">Rentals</a></li>
            </ul>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->


<!-- <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CAR RENTAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-9" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Vehicle Models</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header> -->

<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
  <div class="container">
    <div class="row">
      <div class="col-4 ml-auto">
        <a class="navbar-brand" href="#!"><span style="color: #ffbf00;">Car</span><span
            style="color: #fff;">Rental</span></a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="col-3 ms-auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Models</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Loaction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-4 ms-auto">
        <div class="dropdown">
          <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenu2"
            data-mdb-toggle="dropdown" aria-expanded="false">
            Admin Panel
          </button>
          <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenu2">
            <li><button class=" text-light dropdown-item" type="button">GetCars</button></li>
            <li><button class=" text-light dropdown-item" type="button">GetCarDetails</button></li>
            <li><button class=" text-light dropdown-item" type="button">GetCustomers</button></li>
            <li><button class=" text-light dropdown-item" type="button">GetRentals</button></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav> -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light">





  <div class="container-fluid text-end">
    <div class="row justify-content-end">
      <div class="col-6">
        One of two columns
      </div>
    </div>

  </div>

  <div class="container-fluid text-end">
    <div class="row justify-content-between">
      <div class="col-2">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-10">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid text-end">
    <div class="row justify-content-end">
      <div class="col-6">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>




</nav>