
<body>
    <section>
        <div class="form-container">
            <h1>Register form</h1>
            <form action="#">

                <div class="control">
                    <label for="text">First Name</label>
                    <input type="text" name="text" id="text" autocomplete="off">
                </div>

                <div class="control">
                    <label for="text">Last Name</label>
                    <input type="text" name="text" id="text" autocomplete="off">
                </div>

                <div class="control">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" autocomplete="off">
                </div>

                <div class="control">
                    <label for="psw">Password</label>
                    <input type="password" name="psw" id="psw" autocomplete="off">
                </div>

                <div class="control">
                    <label for="psw">Confirm-Password</label>
                    <input type="password" name="psw" id="psw" autocomplete="off">
                </div>

                <div class="control">
                    <input type="submit" routerLink="/" value="REGISTER">
                </div>

                <div class="link">
                    <label class="mr-1" for="#">Do you have an account?</label>
                    <a routerLink="/login">Login now</a>
                </div>
            </form>
        </div>
        <div class="owner">
            <h1>Background image <span><a href="https://unsplash.com/photos/5hvn-2WW6rY">@unsplash</a></span> Patrick Tomasso</h1>
        </div>
    </section>
</body>