<!-- <body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72"
                height="57">
            <h1 class="h3 mb-3 fw-normal">Register form</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="First Name">
                <label for="floatingInput">First Name</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingInput" placeholder="Last Name">
                <label for="floatingPassword">Last Name</label>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Confirm Email address</label>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Password</label>
            </div>
            
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirm Password</label>
            </div>

            <div class="mb-3 text-center">
                <a routerLink="/login">Do you have account? Login</a>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        </form>
    </main>



</body> -->

<body>
    <section>
        <div class="form-container">
            <h1>Register form</h1>
            <form action="#">

                <div class="control">
                    <label for="text">First Name</label>
                    <input type="text" name="text" id="text">
                </div>

                <div class="control">
                    <label for="text">Last Name</label>
                    <input type="text" name="text" id="text">
                </div>

                <div class="control">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                </div>

                <div class="control">
                    <label for="psw">Password</label>
                    <input type="password" name="psw" id="psw">
                </div>

                <div class="control">
                    <label for="psw">Confirm-Password</label>
                    <input type="password" name="psw" id="psw">
                </div>

                <div class="control">
                    <input type="submit" routerLink="/" value="REGISTER">
                </div>

                <div class="link">
                    <label class="mr-1" for="#">Do you have an account?</label>
                    <a routerLink="/login">Login now</a>
                </div>

            </form>
        </div>
    </section>
</body>