<body>
    <form class="form-background">
        <div class="container">
            <div class="row">
                <div class="form-col mask-custom text-light">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-uppercase">Pick-up location</label>
                        <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label text-uppercase">Drop-off location</label>
                        <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="form-group col mb-3">
                            <label for="" class="label text-uppercase">Brand</label>
                            <input type="text" class="form-control" id="book_pick_date" placeholder="Select Brand">
                        </div>
                        <div class="form-group col mb-3">
                            <label for="" class="label text-uppercase">Model</label>
                            <input type="text" class="form-control" id="book_off_date" placeholder="Select Model">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="form-group col mb-3">
                            <label for="" class="label text-uppercase">Pick-up date</label>
                            <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
                        </div>
                        <div class="form-group col mb-3">
                            <label for="" class="label text-uppercase">Drop-off date</label>
                            <input type="text" class="form-control dropdown-toggle" id="book_off_date" placeholder="Date">
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" routerLink="/transaction" class="btn btn-danger mb-3 text-light text-uppercase">Rent A Car Now</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="container-fuid">
        <div class="row justify-content-center mb-5 pt-3">
            <div class="col-md-7 text-center mt-3">
                <span class="subheading">Services</span>
                <h2 class="mb-3">Our Latest Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <img class="icon-big" src="assets/images/maintenance.png" alt="">
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Maintenance Service</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quisquam suscipit eos nisi
                            quas temporibus optio ex rerum perspiciatis quo.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <img class="icon-big" src="assets/images/car-rental.png" alt="">
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Book Car</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, suscipit eligendi
                            distinctio totam nesciunt laborum in dolorum sunt.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <img class="icon-big" src="assets/images/location2.png" alt="">
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Choose Location</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eos sed itaque, error
                            atque animi.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon mb-3 d-flex align-items-center justify-content-center">
                        <img class="icon-big" src="assets/images/car-rental.png" alt="">
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Book Car</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, suscipit eligendi
                            distinctio totam nesciunt laborum in dolorum sunt.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <section class="ftco-section ftco-about text-start">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/about.jpg);">
                </div>
                <div class="col-md-6 wrap-about ftco-animate fadeInUp ftco-animated">
          <div class="heading-section heading-section-white pl-md-5">
              <span class="subheading">About us</span>
            <h2 class="mb-4">Welcome to Car Book</h2>

            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p><a href="#" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
          </div>
                </div>
            </div>
        </div>
    </section>



    <div class="container text-center mt-3">
        <span class="subheading">Find your dream car</span>
        <h2 class="mb-3">Our Latest Models</h2>
    </div>

    <div class="container text-center">
        <ul class="row">
            <li class="col-md-4 mb-5 list-item">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/car-6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>

            <li class="col-md-4 mb-5 list-item">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/car-9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>

            <li class="col-md-4 mb-5 list-item">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/car-10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>

        </ul>

    </div>

    <app-footer></app-footer>

</body>